@charset "UTF-8";
@font-face {
  font-family: "AkzidenzGroteskBQ";
  src: url("../fonts/AkzidenzGroteskBQCondensedBold.eot");
  src: local("☺"), url("../fonts/AkzidenzGroteskBQCondensedBold.woff") format("woff"), url("../fonts/AkzidenzGroteskBQCondensedBold.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQCondensedBold.otf") format("opentype"), url("../fonts/AkzidenzGroteskBQCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBQCondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeueRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.otf") format("opentype"), url("../fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular.eot?#iefix") format("svg");
  font-weight: normal;
  font-style: normal;
}
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.page__body {
  overflow-x: hidden;
}
.page__body--lock {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
}

ul {
  list-style: none;
}

.container {
  max-width: 910px;
  padding: 0 15px;
  margin: 0 auto;
}

.langs {
  display: flex;
  margin: 0 -3px;
}
.langs__item {
  margin: 0 3px;
}
.langs__radio {
  display: none;
}
.langs__radio:checked + .langs__label {
  background-color: #000000;
  color: #ffffff;
}
.langs__label {
  cursor: pointer;
  display: block;
  font-family: "Bebas";
  color: #000000;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 4px;
}

.logo {
  text-align: center;
}
.logo__inner {
  margin-top: -12px;
  margin-bottom: -12px;
}
.logo__text {
  color: #000000;
  font-family: "Bebas", sans-serif;
  font-size: 8px;
  letter-spacing: 2.72px;
  margin: 12px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  color: #000000;
  font-family: "AkzidenzGroteskBQ", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.menu-button {
  width: 30px;
  height: 18px;
  position: relative;
}
.menu-button__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: transform 0.2s ease 0s, top 0.2s ease 0s;
}
.menu-button__item--1 {
  top: 0;
}
.menu-button__item--2 {
  top: 8px;
}
.menu-button__item--3 {
  top: 16px;
}
.menu-button--open .menu-button__item--1 {
  top: 8px;
  transform: rotate(-45deg);
}
.menu-button--open .menu-button__item--2 {
  transform: scaleX(0);
}
.menu-button--open .menu-button__item--3 {
  top: 8px;
  transform: rotate(45deg);
}

.header {
  padding: 30px 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ordering {
  color: #000000;
  font-family: "AkzidenzGroteskBQ", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
.header__ordering:hover {
  text-decoration: underline;
}
.header__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.header__logo {
  flex: 0 1 auto;
  margin: 0 65px;
}
.header__menu {
  flex: 1 1 0%;
}
.header__menu-button {
  display: none;
}

.dropdown-menu {
  background-color: #ffffff;
  transition: transform 0.2s ease 0s;
  overflow: auto;
}
.dropdown-menu--open {
  visibility: visible;
  transform: translateY(100%);
}

.private {
  display: flex;
}
.private__column {
  flex: 1 1 0%;
}
.private__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.private__body {
  background-color: #000000;
  padding: 75px 0px 75px 60px;
}
.private__title {
  color: #ffffff;
  font-family: "AkzidenzGroteskBQ", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.private__text {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  max-width: 306px;
  margin-bottom: 50px;
}
.private__button {
  margin-right: 12px;
}
.button {
  color: #000000;
  font-family: "Bebas", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #ffffff;
  padding: 16px 34px;
  display: inline-block;
  font-weight: 700;
}
.button--black {
  background-color: #000000;
  color: #ffffff;
}

.link {
  display: inline-block;
  color: #ffffff;
  font-family: "Bebas", sans-serif;
  font-size: 15px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.link--black {
  color: #000000;
}

.products {
  padding: 75px 0;
}
.products__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-bottom: -20px;
}
.products__item {
  flex: 0 1 25%;
  margin: 20px 0;
}

.product {
  display: flex;
  flex-direction: column;
}
.product__img {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}
.product__title {
  color: #000000;
  font-family: "AkzidenzGroteskBQ", sans-serif;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 32px;
}
.product__text {
  color: #000000;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
  padding-right: 28px;
  flex: 1 1 auto;
}
.product__button {
  margin-right: 15px;
  margin-bottom: 24px;
  align-self: flex-start;
}

.why {
  background-color: #ebebeb;
}
.why__top {
  display: flex;
}
.why__top-column--main {
  flex: 0 0 100%;
}
.why__top-column--image {
  flex: 0 0 50%;
  transform: translateX(-100%);
}
.why__top-body {
  width: 50%;
  background-color: #000000;
  padding: 50px 0;
  padding-left: calc((100% - 910px) / 2);
}
.why__top-body-wrapper {
  padding-left: 15px;
}
.why__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.why__title {
  color: #ffffff;
  font-family: "AkzidenzGroteskBQ", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.why__bottom {
  padding: 50px 0;
}
.why__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
  margin-bottom: -25px;
}
.why__item {
  flex: 0 1 50%;
  max-width: 50%;
  margin: 25px 0;
}

.why-item {
  display: flex;
}
.why-item__image {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.why-item__body {
  flex: 1 0 0%;
}
.why-item__body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.why-item__title {
  color: #000000;
  font-family: "AkzidenzGroteskBQ", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.why-item__text {
  color: #000000;
  font-size: 15px;
  line-height: 1.65;
  padding-right: 30px;
  max-width: 100%;
}

.hello {
  padding-top: 80px;
  padding-bottom: 20px;
}
.hello__inner {
  display: flex;
  margin-top: -10px;
  margin-bottom: -10px;
}
.hello__column {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px 0;
}
.hello__title {
  color: #000000;
  font-family: "AkzidenzGroteskBQ", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.hello__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: -10px 0;
}
.hello__block {
  margin: 10px 0;
}

.hello-item {
  position: relative;
  color: #000000;
  font-size: 15px;
  line-height: 25px;
}
.hello-item::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.hello-item--1::before {
  content: url("../images/hello-icon1.png");
}

.hello-item--3::before {
  content: url("../images/hello-icon3.png");
}

.hello-item--2::before {
  content: url("../images/hello-icon2.png");
}

.social {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.social__item {
  margin: 0 15px;
}

.message {
  display: flex;
  flex-wrap: wrap;
}
.message__column {
  flex: 0 1 50%;
}
.message__img {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.message__form {
  padding: 50px 60px;
}

.form {
  background-color: #000000;
}
.form__title {
  color: #ffffff;
  font-family: "AkzidenzGroteskBQ", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 24px;
}
.form__input {
  display: block;
  border: 2px solid #959595;
  background-color: #252525;
  width: 100%;
  max-width: 380px;
  padding: 16px 18px;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 15px;
}
.form__input::placeholder {
  color: #959595;
}
.form__input--big {
  height: 100px;
  resize: none;
}

.footer {
  padding: 30px 0;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  color: #4d4d4d;
  font-size: 15px;
}
.footer__text-underline {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .header__logo {
    margin: 0 35px;
  }

  .why__title {
    font-size: 40px;
  }
  .why__item {
    flex: 0 1 100%;
  }
}
@media (max-width: 860px) {
  .private__body {
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
  }
  .header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 3;
  }
  .header__container {
    position: relative;
    z-index: 4;
  }
  .header__dropdown-menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 90px 15px 0px 15px;
  }
  .header__menu-button {
    display: block;
  }
  .header__logo {
    margin-top: -20px;
  }

  .logo {
    margin-top: 0;
    margin-bottom: 0;
  }
  .logo__text {
    margin: 0;
  }

  .menu {
    display: block;
    text-align: center;
  }
  .menu__item {
    margin: 10px 0;
  }
  .menu__link {
    font-size: 20px;
  }

  .private__column--image {
    display: none;
  }
  .private__body {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .products__item {
    flex: 0 1 50%;
  }

  .product__text {
    padding-right: 20px;
  }

  .why__top-column--image {
    display: none;
  }
  .why__top-body {
    width: 100%;
  }
  .why__top-body-wrapper {
    padding-left: 0;
  }
  .why__title {
    text-align: center;
  }

  .hello {
    padding-top: 30px;
  }
  .hello__inner {
    display: block;
  }

  .message__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 620px) {
  .message__form {
    padding: 25px 30px;
  }

  .footer__inner {
    display: block;
    text-align: center;
  }
  .footer__text {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .header {
    padding-top: 15px;
  }
  .header__logo {
    margin-top: -10px;
  }

  .logo .logo__img {
    width: 150px;
  }

  .header__ordering {
    font-size: 13px;
  }
  .header__dropdown-menu {
    padding-top: 70px;
  }

  .why__inner {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .why__item {
    margin: 10px 0;
  }

  .why-item__image {
    width: 80px;
    height: 80px;
  }
  .why-item__title {
    font-size: 20px;
  }
  .why-item__text {
    padding-right: 0;
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  .logo .logo__img {
    width: 100px;
  }

  .products__item {
    flex: 0 1 100%;
  }
}
@media (max-width: 380px) {
  .private__body {
    padding-left: 20px;
    padding-right: 15px;
  }
  .private__title {
    margin-bottom: 15px;
  }
  .private__text {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .why__title {
    font-size: 35px;
  }

  .message__form {
    padding: 15px;
  }
}